doctype html
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(content='width=device-width, initial-scale=1', name='viewport')

		link(rel="icon", type="image/ico", href="#")
		link(rel="stylesheet" href="css/style.css")
		
		title Odontogram
		
		noscript
			h1 Javascript needs to be enabled in your browser
			
	body
		.container-fluid
			//- header ref
			include navigation

			//- content ref
			block content

			//- footer ref
				include footer
		<!--build:js js/main.min.js -->
		script(src="js/vendor.js")
		script(src="js/util.js")
		script(src="js/components.js")
		<!-- endbuild -->