.page-odontograma {
    position: relative;
    top: -80px;
    h2  {
        font-size: 24px;
    }
}

.contenido-odontograma {
    padding: 20px 0;
    max-width: 825px;
    // margin: 0 0 30px 0;
    margin: 30px 0 30px 0;
}

.box-options {
    .row-box {
        display: flex;
        justify-content: center;
    }
    .box {
        border-left: 1px solid gray;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        width: 55px;
        height: 50px;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;

        &:last-child {
            border-right: 1px solid gray;
        }
        &:after {
            position: absolute;
            bottom: -25px;
            font-size: 14px;
            text-align: center;
            display: block;
            width: 50px;
        }
        &.box-inc {
            width: 45px;
        }

        &.reverse {
            &:after {
                bottom: 0;
                top: -28px;
            }
        }
    }
}

.box-18:after {
    content: '1.8';
}
.box-17:after {
    content: '1.7';
}
.box-16:after {
    content: '1.6';
}
.box-15:after {
    content: '1.5';
}
.box-14:after {
    content: '1.4';
}
.box-13:after {
    content: '1.3';
}
.box-12:after {
    content: '1.2';
}
.box-11:after {
    content: '1.1';
}
.box-21:after {
    content: '2.1';
}
.box-22:after {
    content: '2.2';
}
.box-23:after {
    content: '2.3';
}
.box-24:after {
    content: '2.4';
}
.box-25:after {
    content: '2.5';
}
.box-26:after {
    content: '2.6';
}
.box-27:after {
    content: '2.7';
}
.box-28:after {
    content: '2.8';
}


.box-48:after {
    content: '4.8';
}
.box-47:after {
    content: '4.7';
}
.box-46:after {
    content: '4.6';
}
.box-45:after {
    content: '4.5';
}
.box-44:after {
    content: '4.4';
}
.box-43:after {
    content: '4.3';
}
.box-42:after {
    content: '4.2';
}
.box-41:after {
    content: '4.1';
}

.box-31:after {
    content: '3.1';
}

.box-32:after {
    content: '3.2';
}

.box-33:after {
    content: '3.3';
}

.box-34:after {
    content: '3.4';
}

.box-35:after {
    content: '3.5';
}

.box-36:after {
    content: '3.6';
}

.box-37:after {
    content: '3.7';
}

.box-38:after {
    content: '3.8';
}




.box-55:after {
    content: '5.5';
}

.box-54:after {
    content: '5.4';
}
.box-53:after {
    content: '5.3';
}
.box-52:after {
    content: '5.2';
}
.box-51:after {
    content: '5.1';
}
.box-61:after {
    content: '6.1';
}
.box-62:after {
    content: '6.2';
}
.box-63:after {
    content: '6.3';
}
.box-64:after {
    content: '6.4';
}
.box-65:after {
    content: '6.5';
}



.box-85:after {
    content: '8.5';
}

.box-84:after {
    content: '8.4';
}

.box-83:after {
    content: '8.3';
}

.box-82:after {
    content: '8.2';
}

.box-81:after {
    content: '8.1';
}

.box-71:after {
    content: '7.1';
}

.box-72:after {
    content: '7.2';
}

.box-73:after {
    content: '7.3';
}

.box-74:after {
    content: '7.4';
}

.box-75:after {
    content: '7.5';
}



.box-lista-dientes-top {
    margin:45px 0 20px;
}

.box-lista-dientes-sub {
    margin: 20px 0 45px;
}

.box-lista-dientes {
    margin:45px 0 20px;
}


.box-img {
    display: flex;
    align-items: center;
    justify-content: center;
}



.contenido-polygon {
    position: relative;
    text-align: center;
}

.contenido-path {
    position: relative;
    &:before {
        content: 'path';
        position: absolute;
        width: 70px;
        top: 0;
        left: -36px;
        font-size: 12px;
    }
}


.contenido-extraccion {+
    .diente {
        fill: transparent;
        &:hover {
            fill: green;
        }
    }
}


.box select {
    position: absolute;
    // position:relative;
    top: -30px;
    font-size: 12px;
    // display: none;
    left:0;

    &.show {
         display: none;
    }
}

.box-sub-nino, .box-sub-adulto {
    .box select {
        top: 55px;
    }
}

.contenido-odontograma  {
    .diente {
        fill: transparent;
        &:hover {
            cursor:pointer;

        }
    }
}

.hallazgo-caries {
    .diente {
        &:hover {
            fill: red;
        }
    }
}

.hallazgo-defectos-del-esmalte {
    .diente {
        &:hover {
            fill: red;
        }
    }
}

.hallazgo-restauracion-definitiva {
    .diente {
        &:hover {
            fill: blue;
        }
    }
}

.hallazgo-restauracion-definitiva-malo {
    .diente {
        &:hover {
            fill: red;
        }
    }
}

.hallazgo-restauracion-temporal {
    .diente {
        &:hover {
            //fill: gray;
            stroke: red;
            stroke-width: 15px;
        }
    }
    .active {
       //fill:gray;
    }
}

.hallazgo-poosicion-dentaria {
    // .diente {
    //     &:hover {
    //         fill: green;
    //     }
    // }
}


svg.active-dentaria {
    fill: blue;
}

.cont-diente {
    width: 51px;
    display: inline-block;
    margin-right: 2px;
    &:last-child {
        margin-right: 0;
    }
    &.incisivos {
        width: 40px;
    }
    .caries {
        fill: red;
        stroke: black;
        stroke-width: 1px;
    }
    .verde {
        fill: green;
        stroke: black;
        stroke-width: 1px;
    }
    .amarillo {
        fill: yellow;
        stroke: black;
        stroke-width: 1px;
    }
    .gray {
        fill: gray;
        stroke: black;
        stroke-width: 1px;
    }
    .azul {
        fill: blue;
        stroke: black;
        stroke-width: 1px;
    }
}


.box-sub-adulto {
    margin-top: 50px;
    @include clearfix;
}

.box-top-adulto {
    @include clearfix;
    margin-bottom: 20px;
}


.box-contenido {
    max-width: 825px;
    border:1px solid gray;
    padding: 20px 10px;
    margin: 0 0 20px 0;
    h4 {
        font-size: 14px;
        margin: 0 0 10px 0;
        font-weight: bold;
    }
    textarea {
        font-size: 14px;
        height: 120px;
        resize: none;
        width: 800px;
    }
}

.lista-hallazgo-detallado {
    list-style: none;
    li {
        font-size: 14px;
        span {
            font-weight: bold;
            &.nombre-hallazo {
                color: #3c8dbc;
            }
        }
        a {
            color: red;
            margin: 0 0 0 15px;
            position: relative;
            padding:0 0 0 12px;
            display: inline-block;
            &:after {
                content: 'X';
                width: 10px;
                left: 0;
                position: absolute;
            }
        }
    }
}

.contenido-restaura {
    .active-restaura {
        color:blue;
        fill:blue;
    }
}

.contenido-odontograma .diente-restaura .diente:hover {
    fill: blue;
}



.oclusal [data-pos~="oclusal"] {
    fill: blue!important;
}


.select-hallazgos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    span {
        margin: 0 2px;
        font-weight: bold;
        &.hallazgo-caries {
            color:red;
        }
        &.hallazgo-defectos-del-esmalte {
            color:red;
        }
        &.hallazgo-restauracion-definitiva {
            color:blue;
        }
        &.hallazgo-restauracion-definitiva-malo {
            color:red;
        }
        &.hallazgo-poosicion-dentaria {
            color:blue;;
        }
        &.hallazgo-fosas-fisuras-profundas {
            color:blue;;
        }
        &.hallazgo-piesa-dentaria-ectopica {
            color:blue;;
        }
        &.hallazgo-macrodoncia {
            color:blue;;
        }
        &.hallazgo-microdoncia {
            color:blue;;
        }
        &.hallazgo-iimpactacion {
            color:blue;;
        }
        &.hallazgo-remanente-radicular {
            color:blue;;
        }
        &.hallazgo-movilidad-patologica {
            color:blue;;
        }
    }
}


.diente[data-sigla='LN'] {
    //fill: blue;
}
.diente[data-sigla='CD'] {
    //fill: orange;
}


.contenido-odontograma .diente-restaura .diente.active {
    fill: blue;
}


.hallazgo-caries{
    &.active {
        fill:red;
        &:hover {
            fill: red;
        }
    }
}

.hallazgo-defectos-del-esmalte{
    &.active {
        fill:red;
        &:hover {
            fill: red;
        }
    }
}

.hallazgo-restauracion-definitiva{
    &.active {
        fill:blue;
    }
}

.hallazgo-restauracion-definitiva-malo {
    &.active {
        fill:red;
    }
}

// .malo .hallazgo-restauracion-definitiva.active {
//     fill: red;
// }

.hallazgo-restauracion-temporal{
    &.active {
        stroke: red;
        stroke-width: 15px;
    }
}


.hallazgo-poosicion-dentaria {
    .svg {
        &:hover {
            cursor:pointer;
            fill: blue;
        }
    }
}

.hallazgo-fosas-fisuras-profundas {
    .svg {
        &:hover {
            cursor:pointer;
            fill: blue;
        }
    }
}

.hallazgo-piesa-dentaria-ectopica {
    .svg {
        &:hover {
            cursor:pointer;
            fill: blue;
        }
    }
}
.hallazgo-macrodoncia {
    .svg {
        &:hover {
            cursor:pointer;
            fill: blue;
        }
    }
}
.hallazgo-microdoncia {
    .svg {
        &:hover {
            cursor:pointer;
            fill: blue;
        }
    }
}
.hallazgo-remanente-radicular {
    .svg {
        &:hover {
            cursor:pointer;
            fill: blue;
        }
    }
}
.hallazgo-movilidad-patologica{
    .svg {
        &:hover {
            cursor:pointer;
            fill: blue;
        }
    }
}

.select-tipo {
    background-color: #FFFFFF;
    border: 1px solid #5183AF;
    border-radius: 5px;
    display: block;
    min-height: 22px;
    color: #282828;
}

.box-inc .select-tipo {
    width: 44px;
}

.restaura-estado {
    position: absolute;
    top: 0;
    right: 5px;
    width: 101px;
    height: 25px;
    font-size: 10px;
    text-align: center;
    height: 42px;
    display:none;
    &.show {
        display:block;
    }
    .estados {
        display: flex;
        justify-content: space-evenly;
        z-index: 99999;
        a {
            width: 20px;
            height: 20px;
        }
        .bueno {
            background: blue;
        }
        .malo {
            background: red;
        }
    }
}
