.page-odontograma {
    position: relative;
    top: -80px;
    h2  {
        font-size: 24px;
    }
}

.contenido-odontograma {
    padding: 20px 0;
    max-width: 825px;
    margin: 30px 0 30px 0;
}

.box-options {
    .row-box {
        display: flex;
        justify-content: center;
    }
    .box {
        border-left: 1px solid gray;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        width: 55px;
        height: 50px;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;

        &:last-child {
            border-right: 1px solid gray;
        }
        &:after {
            position: absolute;
            bottom: -25px;
            font-size: 14px;
            text-align: center;
            display: block;
            width: 50px;
        }
        &.box-inc {
            width: 45px;
        }

        &.reverse {
            &:after {
                bottom: 0;
                top: -28px;
            }
        }
    }
}

.box-18:after {
    content: '1.8';
}
.box-17:after {
    content: '1.7';
}
.box-16:after {
    content: '1.6';
}
.box-15:after {
    content: '1.5';
}
.box-14:after {
    content: '1.4';
}
.box-13:after {
    content: '1.3';
}
.box-12:after {
    content: '1.2';
}
.box-11:after {
    content: '1.1';
}
.box-21:after {
    content: '2.1';
}
.box-22:after {
    content: '2.2';
}
.box-23:after {
    content: '2.3';
}
.box-24:after {
    content: '2.4';
}
.box-25:after {
    content: '2.5';
}
.box-26:after {
    content: '2.6';
}
.box-27:after {
    content: '2.7';
}
.box-28:after {
    content: '2.8';
}


.box-48:after {
    content: '4.8';
}
.box-47:after {
    content: '4.7';
}
.box-46:after {
    content: '4.6';
}
.box-45:after {
    content: '4.5';
}
.box-44:after {
    content: '4.4';
}
.box-43:after {
    content: '4.3';
}
.box-42:after {
    content: '4.2';
}
.box-41:after {
    content: '4.1';
}

.box-31:after {
    content: '3.1';
}

.box-32:after {
    content: '3.2';
}

.box-33:after {
    content: '3.3';
}

.box-34:after {
    content: '3.4';
}

.box-35:after {
    content: '3.5';
}

.box-36:after {
    content: '3.6';
}

.box-37:after {
    content: '3.7';
}

.box-38:after {
    content: '3.8';
}




.box-55:after {
    content: '5.5';
}

.box-54:after {
    content: '5.4';
}
.box-53:after {
    content: '5.3';
}
.box-52:after {
    content: '5.2';
}
.box-51:after {
    content: '5.1';
}
.box-61:after {
    content: '6.1';
}
.box-62:after {
    content: '6.2';
}
.box-63:after {
    content: '6.3';
}
.box-64:after {
    content: '6.4';
}
.box-65:after {
    content: '6.5';
}



.box-85:after {
    content: '8.5';
}

.box-84:after {
    content: '8.4';
}

.box-83:after {
    content: '8.3';
}

.box-82:after {
    content: '8.2';
}

.box-81:after {
    content: '8.1';
}

.box-71:after {
    content: '7.1';
}

.box-72:after {
    content: '7.2';
}

.box-73:after {
    content: '7.3';
}

.box-74:after {
    content: '7.4';
}

.box-75:after {
    content: '7.5';
}



.box-lista-dientes-top {
    margin:45px 0 20px;
}

.box-lista-dientes-sub {
    margin: 20px 0 45px;
}

.box-lista-dientes {
    margin:45px 0 20px;
}


.bimg {
    display: flex;
    align-items: center;
    justify-content: center;
}


.contenido-polygon {
    position: relative;
    text-align: center;
}

.contenido-path {
    position: relative;
    &:before {
        content: 'path';
        position: absolute;
        width: 70px;
        top: 0;
        left: -36px;
        font-size: 12px;
    }
}

.contenido-extraccion {
    .diente {
        fill: transparent;
        &:hover {
            fill: green;
        }
    }
}


.box select {
    position: absolute;
    top: -30px;
    font-size: 12px;
    left:0;
    &.show {
         display: none;
    }
}

.box-sub-nino, .box-sub-adulto {
    .box select {
        top: 55px;
    }
}

.contenido-odontograma  {
    .diente {
        fill: transparent;
        &:hover {
            cursor:pointer;

        }
    }
}

.svg {
  &:hover {
      cursor:pointer;
  }
}


//Hallazgos Dientes Hovere

.hallazgo-caries {
    .diente {
        &:hover {
            fill: red;
        }
    }
}

.hallazgo-defectos-del-esmalte {
    .diente {
        &:hover {
            fill: red;
        }
    }
}

.hallazgo-restauracion-definitiva {
    .diente {
        &:hover {
            fill: blue;
        }
    }
}

.hallazgo-restauracion-definitiva-malo {
    .diente {
        &:hover {
            fill: red;
        }
    }
}

.hallazgo-restauracion-temporal {
    .diente {
        &:hover {
            stroke: red;
            stroke-width: 15px;
        }
    }
}

.hallazgo-implante-dental {
    .diente {
        &:hover {
            fill: blue;
        }
    }
}

.hallazgo-implante-dental-malo {
    .diente {
        &:hover {
            fill: red;
        }
    }
}

.hallazgo-corona {
    .svg {
        &:hover {
            cursor:pointer;
            .contorno {
                stroke: blue;
                stroke-width: 10px;
            }
        }
    }
}

.hallazgo-corona-malo {
    .svg {
        &:hover {
            .contorno {
                stroke: red;
                stroke-width: 10px;
            }
        }
    }
}
.hallazgo-corona-temporal {
    .svg {
        &:hover {
            // cursor:pointer;
            .contorno {
                stroke: red;
                stroke-width: 10px;
            }
        }
    }
}
.hallazgo-geminacion {
    .cont-diente {
      position:relative;
      &:hover {
        &:before {
          content: '';
          width: 25px;
          height: 25px;
          border: 2px solid blue;
          display: block;
          top: -43px;
          border-radius: 14px;
          position: absolute;
          left: 15px;
        }
      }
      &.incisivos {
        &:hover {
          &:before {
            left: 8px;
          }
        }
      }
    }

    .box-lista-dientes-sub {
      .cont-diente {
        &:hover {
          &:before {
            top: 78px;
          }
        }
      }
    }
}

.hallazgo-fusion {
  .svg {
      &:hover {
          cursor:pointer;
      }
  }
  .cont-diente {
    position:relative;
    &:hover {
      // &:before {
      //   content: '';
      //   width: 25px;
      //   height: 25px;
      //   border: 2px solid blue;
      //   display: block;
      //   top: -43px;
      //   border-radius: 14px;
      //   position: absolute;
      //   left: 15px;
      // }
    }
    &.incisivos {
      // &:hover {
      //   &:before {
      //     left: 8px;
      //   }
      // }
    }
  }

  .box-lista-dientes-sub {
    .cont-diente {
      &:hover {
        &:before {
          top: 78px;
        }
      }
    }
  }
}



.hallazgo-pieza-supernumeraria {
  .cont-diente {
    position:relative;
    &:hover {
      &:before {
        content: 'S';
        width: 25px;
        height: 25px;
        border: 2px solid blue;
        display: block;
        top: -20px;
        border-radius: 14px;
        position: absolute;
        color: blue;
        left: 43px;
      }
    }
    &.incisivos {
      &:hover {
        &:before {
          left: 28px;
        }
      }
    }
  }

  .box-lista-dientes-sub {
    .cont-diente {
      &:hover {
        &:before {
          top: 67px;
        }
      }
    }
  }
}




.active-supernumeraria {
  position: relative;
  &:before {
      content: 'S';
      width: 25px;
      height: 25px;
      border: 2px solid blue;
      display: block;
      top: -20px;
      border-radius: 14px;
      position: absolute;
      color: blue;
      left: 43px;
    .box-lista-dientes-sub & {
      top: 67px;
    }
  }
  &.incisivos  {
    &:before {
      left: 28px;
    }
  }
}


.active-protesis-fija {
  // .contorno {
  //     cursor: pointer;
  //     stroke: red;
  //     stroke-width: 10px;
  // }
}



.active-corona  {
    .contorno {
        cursor: pointer;
        stroke: blue;
        stroke-width: 10px;
    }
}
.active-corona-malo  {
    .contorno {
        cursor: pointer;
        stroke: red;
        stroke-width: 10px;
    }
}
.active-corona-temporal  {
    .contorno {
        cursor: pointer;
        stroke: red;
        stroke-width: 10px;
    }
}

.active-geminacion {
  position: relative;
  &:before {
    content: '';
    width: 25px;
    height: 25px;
    border: 2px solid blue;
    display: block;
    top: -43px;
    border-radius: 14px;
    position: absolute;
    left: 15px;
    .box-lista-dientes-sub & {
      top: 78px;
    }
  }
  &.incisivos  {
    &:before {
      left: 8px;
    }
  }
}


.active-clavija {
  position: relative;
  &:before {
    content: '';
    width: 36px;
    height: 36px;
    display: block;
    top: -50px;
    position: absolute;
    left: 10px;
    background-image: url(../img/clavija.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;

    .box-lista-dientes-sub & {
      top: 71px;
    }
  }
  &.incisivos  {
    &:before {
      left: 3px;
    }
  }

}


.active-fusion {
  position: relative;
  &:before {
    content: '';
    width: 54px;
    height: 25px;
    border: 2px solid blue;
    display: block;
    top: -43px;
    border-radius: 14px;
    position: absolute;
    left: 10px;
    .box-lista-dientes-sub & {
      top: 78px;
    }
  }
  &:after {
    content: '';
    width: 54px;
    height: 25px;
    border: 2px solid blue;
    display: block;
    top: -43px;
    border-radius: 14px;
    position: absolute;
    left: 50px;
    .box-lista-dientes-sub & {
      top: 78px;
    }
  }
  &.incisivos  {
    &:before {
      left: 43px;
    }
    &:after {
      left: 0;
    }
  }
}


svg.active-dentaria {
    fill: blue;
}


.active-edentulo-total  {
  &:before {
    content: '';
    height: 3px;
    background: blue;
    position: absolute;
    width: 824px;
    top: 62px;
    .box-nino  & {
      width: 490px;
    }
    .box-lista-dientes-sub & {
      top: 20px;
    }
  }
}

.active-protesis-total  {
  &:before {
    content: '';
    height: 3px;
    background: blue;
    position: absolute;
    width: 824px;
    top: -9px;
    .box-nino  & {
      width: 490px;
    }
    .box-lista-dientes-sub & {
      top: 98px;
    }
  }
  &:after {
    content: '';
    height: 3px;
    background: blue;
    position: absolute;
    width: 824px;
    top: -17px;
    left:0;
    .box-nino  & {
      width: 490px;
      left: 169px;
    }
    .box-lista-dientes-sub & {
      top: 106px;
    }
  }
}

.active-protesis-total-malo  {
  &:before {
    content: '';
    height: 3px;
    background: red;
    position: absolute;
    width: 824px;
    top: -9px;
    .box-nino  & {
      width: 490px;
    }
    .box-lista-dientes-sub & {
      top: 98px;
    }
  }
  &:after {
    content: '';
    height: 3px;
    background: red;
    position: absolute;
    width: 824px;
    top: -17px;
    left:0;
    .box-nino  & {
      width: 490px;
      left: 169px;
    }
    .box-lista-dientes-sub & {
      top: 106px;
    }
  }
}

.active-ortodontico-removible {
  &:before {
    content: '';
    height: 3px;
    background: transparent;
    position: absolute;
    width: 824px;
    top: -9px;

    background-image: url(../img/zigzag-bueno.png);
    height: 20px;
    background-repeat: repeat;
    background-size: 276px 20px;

    .box-nino  & {
      width: 490px;
    }
    .box-lista-dientes-sub & {
      top: 98px;
    }
  }

}

.active-ortodontico-removible-malo  {
  &:before {
    content: '';
    height: 3px;
    background: transparent;
    position: absolute;
    width: 824px;
    top: -9px;

    background-image: url(../img/zigzag_malo.png);
    height: 20px;
    background-repeat: repeat;
    background-size: 276px 20px;

    .box-nino  & {
      width: 490px;
    }
    .box-lista-dientes-sub & {
      top: 98px;
    }
  }
}

.cont-diente {
    width: 51px;
    display: inline-block;
    margin-right: 2px;
    &:last-child {
        margin-right: 0;
    }
    &.incisivos {
        width: 40px;
    }
    .caries {
        fill: red;
        stroke: black;
        stroke-width: 1px;
    }
    .verde {
        fill: green;
        stroke: black;
        stroke-width: 1px;
    }
    .amarillo {
        fill: yellow;
        stroke: black;
        stroke-width: 1px;
    }
    .gray {
        fill: gray;
        stroke: black;
        stroke-width: 1px;
    }
    .azul {
        fill: blue;
        stroke: black;
        stroke-width: 1px;
    }
}


.box-sub-adulto {
    margin-top: 50px;
    @include clearfix;
}

.box-top-adulto {
    @include clearfix;
    margin-bottom: 20px;
}


.box-contenido {
    max-width: 825px;
    border:1px solid gray;
    padding: 20px 10px;
    margin: 0 0 20px 0;
    max-height: 240px;
    overflow: auto;
    h4 {
        font-size: 14px;
        margin: 0 0 10px 0;
        font-weight: bold;
    }
    textarea {
        font-size: 14px;
        height: 120px;
        resize: none;
        width: 800px;
    }
}

.lista-hallazgo-detallado {
    padding: 0;
    list-style: none;
    li {
        font-size: 14px;
        span {
            font-weight: bold;
            &.nombre-hallazo {
                color: #3c8dbc;
            }
        }
        a {
            color: red;
            margin: 0 0 0 15px;
            position: relative;
            padding:0 0 0 12px;
            display: inline-block;
            &:after {
                content: 'X';
                width: 10px;
                left: 0;
                position: absolute;
            }
        }
    }
}

.contenido-restaura {
    .active-restaura {
        color:blue;
        fill:blue;
    }
}

.contenido-odontograma .diente-restaura .diente:hover {
    fill: blue;
}

.oclusal [data-pos~="oclusal"] {
    fill: blue!important;
}


.select-hallazgos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    span {
        margin: 0 2px;
        font-weight: bold;
        &.hallazgo-caries {
            color:red;
        }
        &.hallazgo-defectos-del-esmalte {
            color:red;
        }
        &.hallazgo-restauracion-definitiva {
            color:blue;
        }
        &.hallazgo-restauracion-definitiva-malo {
            color:red;
        }
        &.hallazgo-implante-dental {
            color:blue;
        }
        &.hallazgo-implante-dental-malo {
            color:red;
        }
        &.hallazgo-posicion-dentaria {
            color:blue;;
        }
        &.hallazgo-fosas-fisuras-profundas {
            color:blue;;
        }
        &.hallazgo-piesa-dentaria-ectopica {
            color:blue;;
        }
        &.hallazgo-macrodoncia {
            color:blue;;
        }
        &.hallazgo-microdoncia {
            color:blue;;
        }
        &.hallazgo-impactacion {
            color:blue;;
        }
        &.hallazgo-remanente-radicular {
            color:red;;
        }
        &.hallazgo-movilidad-patologica {
            color:red;;
        }
        &.hallazgo-corona {
            color:blue;;
        }
        &.hallazgo-corona-malo {
            color:red;;
        }
        &.hallazgo-corona-temporal {
            color:red;;
        }
    }
}


.diente[data-sigla='LN'] {
    //fill: blue;
}
.diente[data-sigla='CD'] {
    //fill: orange;
}

.contenido-odontograma .diente-restaura .diente.active {
    fill: blue;
}

.hallazgo-caries{
    &.active {
        fill:red;
        &:hover {
            fill: red;
        }
    }
}


.hallazgo-defectos-del-esmalte{
    &.active {
        fill:red;
        &:hover {
            fill: red;
        }
    }
}

.hallazgo-restauracion-definitiva{
    &.active {
        fill:blue;
    }
}

.hallazgo-restauracion-definitiva-malo {
    &.active {
        fill:red;
    }
}

.hallazgo-implante-dental{
    &.active {
        fill:blue;
    }
}

.hallazgo-implante-dental-malo {
    &.active {
        fill:red;
    }
}

.hallazgo-restauracion-temporal{
    &.active {
        stroke: red;
        stroke-width: 15px;
    }
}


.hallazgo-posicion-dentaria {
    .svg {
        &:hover {
            cursor:pointer;
            fill: blue;
        }
    }
}

.hallazgo-fosas-fisuras-profundas {
    .svg {
        &:hover {
            cursor:pointer;
            fill: blue;
        }
    }
}

.hallazgo-piesa-dentaria-ectopica {
    .svg {
        &:hover {
            cursor:pointer;
            fill: blue;
        }
    }
}
.hallazgo-macrodoncia {
    .svg {
        &:hover {
            cursor:pointer;
            fill: blue;
        }
    }
}
.hallazgo-microdoncia {
    .svg {
        &:hover {
            cursor:pointer;
            fill: blue;
        }
    }
}
.hallazgo-impactacion {
    .svg {
        &:hover {
            cursor:pointer;
            fill: blue;
        }
    }
}
.hallazgo-remanente-radicular {
    .svg {
        &:hover {
            cursor:pointer;
            fill: blue;
        }
    }
}
.hallazgo-movilidad-patologica {
    .svg {
        &:hover {
            cursor:pointer;
            fill: blue;
        }
    }
}

.hallazgo-pieza-dentaria-en-erupcion {
    .svg {
        &:hover {
            cursor:pointer;
            background-image: url(../img/erupcion-sub.png);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: 80% 85%;
        }
    }
}

.hallazgo-pieza-dentaria-en-erupcion {
    .box-sub-adulto, .box-sub-nino {
        .svg {
            &:hover {
                background-image: url(../img/erupcion-top.png);
                background-position: bottom center;
            }
        }

    }
}

.hallazgo-pieza-dentaria-extruida {
    .svg {
        &:hover {
            cursor:pointer;
            background-image: url(../img/flecha-extruida.png);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: 35% 35%;
        }
    }
}

.hallazgo-pieza-dentaria-extruida .box-lista-dientes-sub .svg:hover {
    background-image: url(../img/flecha-intruida.png);
}

.hallazgo-pieza-dentaria-intruida {
    .svg {
        &:hover {
            cursor:pointer;
            background-image: url(../img/flecha-intruida.png);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: 35% 35%;
        }
    }
}

.hallazgo-pieza-dentaria-intruida .box-lista-dientes-sub .svg:hover {
    background-image: url(../img/flecha-extruida.png);
}


.hallazgo-pieza-dentaria-clavija {
    .cont-diente {
      position:relative;
      &:hover {
        &:before {
          content: '';
          width: 36px;
          height: 36px;
          display: block;
          top: -50px;
          position: absolute;
          left: 10px;
          background-image: url(../img/clavija.png);
          background-repeat: no-repeat;
          background-position: top center;
          background-size: contain;
        }
        &.incisivos {
          &:hover {
            &:before {
              left: 3px;
            }
          }
        }
      }
    }

    .box-lista-dientes-sub {
      .cont-diente {
        &:hover {
          &:before {
            top: 71px;
          }
        }
      }
    }
}
//Diastema
.hallazgo-diastema {
    .svg {
        &:hover {
            cursor:pointer;
            background-image: url(../img/diastema.png);
            background-repeat: no-repeat;
            background-position: right 41px;
            background-size: 30px 44px;
        }
    }
    .box-lista-dientes-sub {
        .svg {
            &:hover {
                background-position: right -5px;
            }
        }
    }
}


.hallazgo-giroversion {
    .svg {
        &:hover {
            cursor:pointer;
            background-image: url(../img/giroversion.png);
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 40px;
        }
    }
}

.hallazgo-giroversion .box-lista-dientes-sub .svg:hover {
    background-position: center 14px;
}


//Hallazgos
.hallazgo-pieza-dentaria-ausente {
    .svg {
        &:hover {
            cursor:pointer;
            background-image: url(../img/diente-ausente.png);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 90% 80%;

        }
    }
    .box-lista-dientes-sub {
        .svg {
            &:hover {
                background-position: top center;
            }
        }
    }
}

.seleccionado {
    &.active-ausente {
        background-image: url(../img/diente-ausente.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 90% 80%;
        .box-lista-dientes-sub & {
            background-position: top center;
        }
    }
}

//Erupcion
.box-sub-adulto .seleccionado.active-erupcion,
.box-sub-nino .seleccionado.active-erupcion  {
    background-image: url(../img/erupcion-top.png);
    background-position: bottom center;
}
.seleccionado {
    &.active-erupcion {
        background-image: url(../img/erupcion-sub.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 80% 85%;
    }
}

.active .icon-ausente {
    fill:blue;
}


//Icono Extruida
.flecha-extruida {
    position: relative;
    img {
        width:16px;
        height: auto;
        position: absolute;
        left: 17px;
        top: 85px;
    }
}
//Icono Extruida
.flecha-extruida {
    position: relative;
    img {
        width:16px;
        height: auto;
        position: absolute;
        left: 17px;
        top: 85px;
    }
}
//Icono Giroversion
.giroversion {
    position: relative;
    img {
        width: 35px;
        height: auto;
        position: absolute;
        left: 8px;
        top: 85px;
    }
}

.box-lista-dientes-sub {
  .giroversion {
    img {
        top: -23px;
    }
  }
}


.diastema {
    position:relative;
    img {
        width: 28px;
        height: auto;
        position: absolute;
        left: 39px;
        top: 40px;
        .box-lista-dientes-sub & {
            top: -4px;
        }
    }
    &.incisivos {
        img {
            left: 28px;
        }
    }
}


.container-svg-odontograma {
    .cont-diente.diastema {
        &:last-child {
            img {
                display:none;
            }
        }
    }

}
.incisivos.flecha-extruida,
.incisivos.flecha-intruida {
    img {
        left: 13px;
    }
}

.box-sub-nino .flecha-extruida img,
.box-sub-adulto .flecha-extruida img{
    top: -24px;
    transform: rotate(179deg);
}

.box-sub-nino .flecha-intruida img,
.box-sub-adulto .flecha-intruida img{
    top: -24px;
    transform: rotate(179deg);
}

//Intruida
.flecha-intruida {
    position: relative;
    img {
        width: 15px;
        height: auto;
        position: absolute;
        left: 17px;
        top: 85px;
    }
}



.select-tipo {
    background-color: #FFFFFF;
    border: 1px solid #5183AF;
    border-radius: 5px;
    display: block;
    min-height: 22px;
    color: #282828;
}

.box-inc .select-tipo {
    width: 44px;
}

.restaura-estado,
.implante-estado,
.corona-estado,
.protesis-estado,
.ortodontico-estado {
    position: absolute;
    top: 0;
    right: 5px;
    width: 101px;
    height: 25px;
    font-size: 10px;
    text-align: center;
    height: 42px;
    display:none;
    &.show {
        display:block;
    }
    .estados {
        display: flex;
        justify-content: space-evenly;
        z-index: 99999;
        a {
            width: 20px;
            height: 20px;
        }
        .bueno {
            background: blue;
        }
        .malo {
            background: red;
        }
    }
}

.list-editable {
    list-style: none;
    counter-reset: my-awesome-counter;
    li {
        span {
            &:first-child {
                counter-increment: my-awesome-counter;
                &:before {
                    content: counter(my-awesome-counter) ".- ";
                    color:black;
                }
            }
        }
    }
}

.hide {
    display:none;
  }

.lista-hallazgos {
    padding: 0;
}

.info-hallazgo {
  font-size: 12px;
  color: green;
  font-weight: bold;
}

.disabledbutton {
  pointer-events: none;
  opacity: 0.6;
}


.linea-fija {
  background: blue;
  display: block;
  position: absolute;
  top: -14px;
  // width: 365px;
  height: 3px;
  &:after {
    content: '';
    width: 4px;
    height: 13px;
    position: absolute;
    top: 0;
    left: 0;
    background: blue;
  }
  &:before {
    content: '';
    width: 4px;
    height: 13px;
    position: absolute;
    top: 0;
    right: 0;
    background: blue;
  }
}

  .puente1 {
      position:static;
      .contorno {
          stroke: blue;
          stroke-width: 10px;
      }
  }



  .seleccionado.puente1 {
    &:after {
      content: '';
      width: 100%;
      display: block;
      width: 10px;
      height: 5px;
      background: blue;
      width: 100%;
      position: absolute;
      top: -12px;
    }
    &:before {
      content: '';
      width: 4px;
      height: 13px;
      position: absolute;
      top: -12px;
      background: blue;
      z-index: 10;
    }

    .contorno {
        stroke: transparent;
        stroke-width: 10px;
    }
  }


.puente2 {
  position:static;
  &:after {
    content: '';
    width: 100%;
    display: block;
    width: 10px;
    height: 5px;
    background: white;
    width: 100%;
    position: absolute;
    top: -12px;
  }
  &:before {
    content: '';
    width: 4px;
    height: 13px;
    position: absolute;
    top: -12px;
    background: blue;
    z-index: 10;
  }
}

  .puente1-fijo {
      position:static;
      .contorno {
          stroke: blue;
          stroke-width: 10px;
      }
  }



  .seleccionado.puente1-fijo {
    &:after {
      content: '';
      width: 100%;
      display: block;
      width: 10px;
      height: 5px;
      background: blue;
      width: 100%;
      position: absolute;
      top: -12px;
    }
    &:before {
      content: '+';
      width: 4px;
      color: blue;
      height: 13px;
      position: absolute;
      top: -15px;
      z-index: 10;
      border: 1px solid;
      width: 13px;
      background: white;
      line-height: 8px;
      font-size: 16px;
    }

    .contorno {
        stroke: transparent;
        stroke-width: 10px;
    }
  }


.puente2-fijo {
  position:static;
  &:after {
    content: '';
    width: 100%;
    display: block;
    width: 10px;
    height: 5px;
    background: white;
    width: 100%;
    position: absolute;
    top: -12px;
  }
  &:before {
    content: '+';
    width: 4px;
    height: 13px;
    width: 13px;
    position: absolute;
    top: -14px;
    background: green;
    z-index: 10;
    border: 1px solid;
    width: 13px;
    background: white;
    line-height: 8px;
    font-size: 16px;
    color: blue;
  }
}
