/*  Sidebar Odontograma*/

.opciones-odontologia {
    background-color: white;
    height: 207px;
    width: 240px;
    position: fixed;
    top: 150px;
    right: 20px;
    border: 1px solid gray;
    padding: 5px;
    overflow-x: auto;
    h5 {
        margin:0 0 10px 0 ;
    }
    p {
        font-size: 12px;
        font-weight: bold;
        color:green;
        display: none;
    }
    .show {
        display: block;
    }
}

.lista-hallazgos {
    li {
     font-size: 12px;
     list-style: none;
        a {
            color: #2d2d2d;
            &.active {
                font-weight: bold;
            }
        }
        .codigo {
            color: #367fa9;
        }
        &.opcion-caries {
            a {
                &.active {
                    color:red;
                }
                &:hover {
                    color:red;
                }
            }
        }
        &.opcion-defectos-del-esmalte {
            a {
                &.active {
                    color:red;
                }
                &:hover {
                    color:red;
                }
            }
        }
        &.opcion-restauracion-definitiva {
            a {
                &.active {
                    color:blue;
                }
                &:hover {
                    color:blue;
                }
            }
        }
        &.opcion-restauracion-temporal {
            a {
                &.active {
                    color:green;
                }
                &:hover {
                    color:green;
                }
            }
        }
        &.opcion-posicion-dentaria {
            a {
                &.active {
                    color:green;
                }
                &:hover {
                    color:green;
                }
            }
        }
        &.opcion-fosas-fisuras-profundas {
            a {
                &.active {
                    color:green;
                }
                &:hover {
                    color:green;
                }
            }
        }
        &.opcion-piesa-dentaria-ectopica{
            a {
                &.active {
                    color:green;
                }
                &:hover {
                    color:green;
                }
            }
        }
        &.opcion-macrodoncia {
            a {
                &.active {
                    color:green;
                }
                &:hover {
                    color:green;
                }
            }
        }
        &.opcion-microdoncia {
            a {
                &.active {
                    color:green;
                }
                &:hover {
                    color:green;
                }
            }
        }
        &.opcion-movilidad-patologica {
            a {
                &.active {
                    color:green;
                }
                &:hover {
                    color:green;
                }
            }
        }
        &.opcion-impactacion {
            a {
                &.active {
                    color:green;
                }
                &:hover {
                    color:green;
                }
            }
        }
        &.opcion-remanente-radicular {
            a {
                &.active {
                    color:green;
                }
                &:hover {
                    color:green;
                }
            }
        }
        &.opcion-pieza-dentaria-ausente {
            a {
                &.active {
                    color:blue;
                }
                &:hover {
                    color:blue;
                }
            }
        }
        &.opcion-pieza-dentaria-en-erupcion {
            a {
                &.active {
                    color:blue;
                }
                &:hover {
                    color:blue;
                }
            }
        }
        &.opcion-pieza-dentaria-extruida {
            a {
                &.active {
                    color:blue;
                }
                &:hover {
                    color:blue;
                }
            }
        }
        &.opcion-pieza-dentaria-intruida {
            a {
                &.active {
                    color:blue;
                }
                &:hover {
                    color:blue;
                }
            }
        }
        &.opcion-diastema {
            a {
                &.active {
                    color:blue;
                }
                &:hover {
                    color:blue;
                }
            }
        }
        &.opcion-giroversion {
            a {
                &.active {
                    color:blue;
                }
                &:hover {
                    color:blue;
                }
            }
        }
        &.opcion-implante-dental {
            a {
                &.active {
                    color:blue;
                }
                &:hover {
                    color:blue;
                }
            }
        }
        &.opcion-corona {
            a {
                &.active {
                    color:blue;
                }
                &:hover {
                    color:blue;
                }
            }
        }
        &.opcion-corona-temporal {
            a {
                &.active {
                    color:red;
                }
                &:hover {
                    color:red;
                }
            }
        }
        &.opcion-geminacion {
            a {
                &.active {
                    color:red;
                }
                &:hover {
                    color:red;
                }
            }
        }
    }
}

