html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px; }

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden; }

/* Mixins
  =============== */
.contenedor {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/font-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Components */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.home-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (min-width: 830px) {
    .home-box {
      display: grid; } }

/*  Sidebar Odontograma*/
.opciones-odontologia {
  height: 200px;
  width: 240px;
  position: fixed;
  top: 150px;
  right: 20px;
  border: 1px solid gray;
  padding: 5px; }
  .opciones-odontologia h5 {
    margin: 0 0 10px 0; }

.lista-hallazgos li {
  font-size: 12px;
  list-style: none; }
  .lista-hallazgos li a {
    color: #2d2d2d;
    font-weight: bold; }
  .lista-hallazgos li .codigo {
    color: #367fa9; }
  .lista-hallazgos li.opcion-caries a {
    color: red; }
  .lista-hallazgos li.opcion-extraccion a {
    color: green; }
  .lista-hallazgos li.opcion-fractura a {
    color: #2d2d2d; }
  .lista-hallazgos li.opcion-puente a {
    color: coral; }

.page-odontograma {
  position: relative;
  top: -80px; }

.contenido-odontograma {
  padding: 20px 0;
  max-width: 825px; }

.box-options .row-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.box-options .box {
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 55px;
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px; }
  .box-options .box:last-child {
    border-right: 1px solid gray; }
  .box-options .box:after {
    position: absolute;
    bottom: -25px;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 50px; }
  .box-options .box.box-inc {
    width: 45px; }

.box-18:after {
  content: '18'; }

.box-17:after {
  content: '17'; }

.box-16:after {
  content: '16'; }

.box-15:after {
  content: '15'; }

.box-14:after {
  content: '14'; }

.box-13:after {
  content: '13'; }

.box-12:after {
  content: '12'; }

.box-11:after {
  content: '11'; }

.box-21:after {
  content: '21'; }

.box-22:after {
  content: '22'; }

.box-23:after {
  content: '23'; }

.box-24:after {
  content: '24'; }

.box-25:after {
  content: '25'; }

.box-26:after {
  content: '26'; }

.box-27:after {
  content: '27'; }

.box-28:after {
  content: '28'; }

.box-48:after {
  content: '48'; }

.box-47:after {
  content: '47'; }

.box-46:after {
  content: '46'; }

.box-45:after {
  content: '45'; }

.box-44:after {
  content: '44'; }

.box-43:after {
  content: '43'; }

.box-42:after {
  content: '42'; }

.box-41:after {
  content: '41'; }

.box-31:after {
  content: '31'; }

.box-32:after {
  content: '32'; }

.box-33:after {
  content: '33'; }

.box-34:after {
  content: '34'; }

.box-35:after {
  content: '35'; }

.box-36:after {
  content: '36'; }

.box-37:after {
  content: '37'; }

.box-38:after {
  content: '38'; }

.box-55:after {
  content: '55'; }

.box-54:after {
  content: '54'; }

.box-53:after {
  content: '53'; }

.box-52:after {
  content: '52'; }

.box-51:after {
  content: '51'; }

.box-61:after {
  content: '61'; }

.box-62:after {
  content: '62'; }

.box-63:after {
  content: '63'; }

.box-64:after {
  content: '64'; }

.box-65:after {
  content: '65'; }

.box-85:after {
  content: '85'; }

.box-84:after {
  content: '84'; }

.box-83:after {
  content: '83'; }

.box-82:after {
  content: '82'; }

.box-81:after {
  content: '81'; }

.box-71:after {
  content: '71'; }

.box-72:after {
  content: '72'; }

.box-73:after {
  content: '73'; }

.box-74:after {
  content: '74'; }

.box-75:after {
  content: '75'; }

.box-lista-dientes {
  margin: 50px 0 20px; }

.box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.box-test {
  margin: 20px 0; }

.contenido-polygon {
  position: relative;
  text-align: center; }

.contenido-path {
  position: relative; }
  .contenido-path:before {
    content: 'path';
    position: absolute;
    width: 70px;
    top: 0;
    left: -36px;
    font-size: 12px; }

.contenido-extraccion .diente {
  fill: transparent; }
  .contenido-extraccion .diente:hover {
    fill: green; }

.box select {
  position: absolute;
  top: -24px;
  font-size: 12px;
  display: none; }

.contenido-odontograma .diente {
  fill: transparent; }

.contenido-caries .diente:hover {
  fill: red; }

.contenido-caries .active {
  fill: red; }

.contenido-extraccion .diente:hover {
  fill: green; }

.contenido-extraccion .active {
  fill: green; }

.contenido-fractura .diente:hover {
  fill: gray; }

.contenido-fractura .active {
  fill: gray; }

.contenido-puente .diente:hover {
  fill: coral; }

.contenido-puente .active {
  fill: coral; }

.cont-diente {
  width: 51px;
  display: inline-block;
  margin-right: 2px; }
  .cont-diente:last-child {
    margin-right: 0; }
  .cont-diente.incisivos {
    width: 40px; }
  .cont-diente .caries {
    fill: red;
    stroke: black;
    stroke-width: 1px; }
  .cont-diente .verde {
    fill: green;
    stroke: black;
    stroke-width: 1px; }
  .cont-diente .amarillo {
    fill: yellow;
    stroke: black;
    stroke-width: 1px; }
  .cont-diente .gray {
    fill: gray;
    stroke: black;
    stroke-width: 1px; }
  .cont-diente .azul {
    fill: blue;
    stroke: black;
    stroke-width: 1px; }

.box-sub-adulto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.box-sub-nino {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

/*# sourceMappingURL=main.css.map */
