#wrapwrap header a.navbar-brand img {
    margin-top: 0;
}

#wrapwrap .navbar {
    margin-bottom: 0;
}

#wrapwrap .navbar-brand {
    padding: 6px 0;
}

.banner-minsa {
    background-image: url(../img/banner-minsa-vigilancia.png);
    background-size: cover;
    background-color: white;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100px;
}

@media (min-width: 576px) {
    .banner-minsa {
        height: 200px;
    }
 }

 @media (min-width: 960px) {
    .banner-minsa {
        height: 300px;
    }
  }

.bg-danger {
    background-color: #e74a3b!important;
}
.logo-minsa {
    width: 150px;
    border: 3px solid white;
    margin: 0 16px 0 0;
}

body .homepage {
    background-color: #eeeeee;
}

.section-contenido {
    margin: 30px 0;
}

.section-contenido .container {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-busqueda-contenido {
    margin: 30px 0;
}

.section-busqueda-contenido .container {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.box-sector {
    border: 1px solid lightgray;
    margin: 0 0 20px 0;
    overflow: hidden;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.box-sector img {
    margin: 0 auto;
    display: block;
    padding: 10px;
}

.box-sector h2 {
    font-size: 18px;
    background-color: #e74a3b;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 12px;
    margin: 0;
    margin-top: 7px;
}

.box-sector p {
    background-color: #EFB64F;
    padding: 15px 35px;
    margin: 0;
    text-align: center;
}
.box-btn {
    text-align: center;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

footer #footer {
    padding-top: 0;
}



@media (max-width: 960px) {
    .section-contenido .row > div {
        margin: 0 0 25px 0;
    }
}


@media (min-width: 960px) {
    .box-texto {
        display: flex;
        height: 90px;
    }
}


/* Pagina Login */

.oe_website_login_container input,
.oe_website_login_container select {
    border: 2px solid #e74a3b;
    border-radius: 10px;
}


.oe_website_login_container .input-group-addon {
    background-color: #e74a3b;
    border: none;
}

.oe_website_login_container .input-group-addon:first-child {
    border-right: 0;
    border-bottom-left-radius: 10px!important;
    border-top-left-radius: 10px!important;
}

.oe_login_buttons {
    margin: 35px 0 0 0px;
}

.icono-usuario {
    background-image: url(../img/icono-persona.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #e74a3b;
    background-size: contain;
}
.icono-candado {
    background-image: url(../img/icono-candado.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #e74a3b;
    background-size: contain;
    background-position: top center;
}

.icono-tuerca {
    background-image: url(../img/icono-tuerca.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #e74a3b;
    background-size: contain;
}


.icono-ruc {
    background-image: url(../img/icono-ruc.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #e74a3b;
    background-size: contain;
}


.icono-llave {
    background-image: url(../img/icono-llave.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #e74a3b;
    background-size: contain;
}

.icono-lupa {
    background-image: url(../img/icono-lupa.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #e74a3b;
    background-size: contain;
}

.oe_login_form, .oe_signup_form, .oe_reset_password_form {
    max-width: 350px;
}


.box-top {
    text-align: center;
}
.contenido-busqueda {
    max-width: 700px;
    position: relative;
    margin: 50px auto;
}

.tabla-titulo {
    background-color: #e74a3b;
    color:white;
    padding: 4px 0;
}

.box-resultado {
    max-width: 990px;
    position: relative;
    margin: 50px auto;
}

.title-busqueda {
    color: #e74a3b;
    font-size: 18px;
    font-weight: bold;
    font-size: 25px;
}

.box-busqueda .input-group-addon {
    background-color: #e74a3b;
    border:none;
    padding: 0;
}


.box-select {
    position: absolute;
    left: 4px;
    top: 2px;
    z-index: 10;
}

.box-busqueda .box-select select {
    background-color: white;
    color: #e74a3b;
    height: 30px;
    border: none;
    border-top-left-radius: 10px!important;
    border-bottom-left-radius: 10px!important;
    text-transform: uppercase;
    border-right: 2px solid #e74a3b;
}

.box-busqueda .input-busqueda {
    border: 2px solid #e74a3b;
    border-top-left-radius: 10px!important;
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
    border-top-right-radius: 10px!important;
    overflow: hidden;
    padding: 0 0 0 270px;
}

/* Modal Esenciales*/

.modal-title {
    background-color: #EBB54B;
    color: white;
    padding: 6px;
}

.title-actividades {
    color: #e74a3b;
    margin: 0 0 20px 0;
}

.box-actividades {
    text-align: center;
    border: 3px solid #e74a3b;
    border-radius: 35px;
    max-width: 201px;
    margin: 0 auto 20px;
    overflow: hidden;
    display: block;
    position: relative;
}


.box-actividades .box-img {
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-actividades .texto-actividades {
    padding: 0;
    margin: 0;
    background-color: #e74a3b;
    display: flex;
    height: 46px;
    align-items: center;
    justify-content: center;
}

.box-actividades .texto-actividades h4 {
    margin: 0;
    padding: 0 8px;
    font-size: 15px;
    color: white;
}

.mostrar-texto {
    display: none;
}


.box-actividades:hover {
    text-decoration: none;
}

.box-actividades:hover a{
    text-decoration: none;
}

.box-actividades:hover h4{
    text-decoration: none;
}


.box-actividades:hover .mostrar-texto {
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    color: black;
    font-size: 13px;
    height: 100%;
    width: 100%;
    background-image: url(../img/bg.png);
    background-position: top center;
    background-repeat: repeat;
    border-radius: 30px;
    overflow: overlay;
    text-align: center;
    padding: 13px 0;
}

.mostrar-texto p {
    padding: 12px;
    font-weight: bold;
}

.modal-esenciales .btn-primary {
    background-color: #EFB550;
    border: 1px solid #EFB550;
}

.modal-esenciales .btn-secondary {
    background-color: white;
    border: 1px solid #EFB550;
    color: #e74a3b;
}

.modal-esenciales .btn-primary:active {
    background-color: #EFB550;
}
.active-actividad {
    border: 3px solid black;
    box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.3);
}

.navbar-default{
    background-color: #ff3535;
    border-color: #e7e7e7;
}
.navbar-nav li a, .navbar-nav li a b {
    color: white;
}

.box-buscar {
    position: absolute;
    right: 0;
    z-index: 10;
}

.contenido-busqueda .box-buscar .btn-buscar {
    background-color: #e74a3b;
    border: 1px solid #e74a3b;
    border-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-bucscar {
    background-color: #e74a3b;
    color: white;
    border: 1px solid #e74a3b;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none!important;
}

.btn-bucscar:focus {
    outline: none;
    box-shadow: none;
}

.contenido-busqueda .btn-bucscar:hover {
    background-color: gray;
    border: 1px solid gray;
}

.contenido-busqueda .btn-bucscar:active {
    background-color: #e74a3b;
    border-color: #e74a3b;
}

.group-select {
    display: flex;
}

div#resultados .col-12 {
    padding: 0;
    border-radius: 0;
}

div#resultados .col-12 a {
    border-radius: 0;
}

div#resultados .col-12 a:hover {
    background-color: white;
}


div#resultados [class*="col-"] {
    padding: 0;
    border-radius: 0;
}

div#resultados [class*="col-"] a {
    border-radius: 0;
}

div#resultados [class*="col-"] a:hover {
    background-color: white;
}


@media (max-width: 960px) {
    div#resultados [class*="col-"] {
        width: 25%;
        float: left;
    }
    .tabla-titulo [class*="col-"] {
        width: 25%;
        float: left;
    }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.contenido-ruc input {
    border: 2px solid #e74a3b;
    border-radius: 10px;
}

.box-busqueda .form-control:focus {
    border-color: #e74a3b;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

/* Style Header Admin*/

.o_main_navbar {
    background-color: gray;
    border: 1px solid gray;
}

#oe_main_menu_navbar .o_menu_systray a[data-action="edit"],
#oe_main_menu_navbar .o_menu_systray a[data-action="translate"] {
    color: white;
    background-color: gray;
    border-color: gray;
}

.o_main_navbar > ul > li > a:hover {
    background-color: gray;
}

/* Style Forms Default */

.panel-primary {
    border-color: #e74a3b;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #e74a3b;
    border-color: #e74a3b;
}

.btn-primary {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #cccccc3b;
}
.input-group-addon {
    background-color: #cccccc3b;
}

/* Nueva Busqueda */

.section-busqueda-filtros {
    margin: 30px 0;
}

.section-busqueda-filtros .container {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contenido-busqueda-sector {
    padding: 25px;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.title-tab {
    padding: 8px 5px;
}

/* Theme */


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
}


.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}


table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}

.table-bordered {
    border: 1px solid #e3e6f0;
}


/* table */


.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #858796;
}
.table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e3e6f0;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e3e6f0;
}
.table tbody + tbody {
    border-top: 2px solid #e3e6f0;
}
.table-sm td,
.table-sm th {
    padding: 0.3rem;
}
.table-bordered {
    border: 1px solid #e3e6f0;
}
.table-bordered td,
.table-bordered th {
    border: 1px solid #e3e6f0;
}
.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: 2px;
}
.table-borderless tbody + tbody,
.table-borderless td,
.table-borderless th,
.table-borderless thead th {
    border: 0;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
.table-hover tbody tr:hover {
    color: #858796;
    background-color: rgba(0, 0, 0, 0.075);
}
.table-primary,
.table-primary > td,
.table-primary > th {
    background-color: #cdd8f6;
}
.table-primary tbody + tbody,
.table-primary td,
.table-primary th,
.table-primary thead th {
    border-color: #a3b6ee;
}
.table-hover .table-primary:hover {
    background-color: #b7c7f2;
}
.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #b7c7f2;
}
.table-secondary,
.table-secondary > td,
.table-secondary > th {
    background-color: #dddde2;
}
.table-secondary tbody + tbody,
.table-secondary td,
.table-secondary th,
.table-secondary thead th {
    border-color: #c0c1c8;
}
.table-hover .table-secondary:hover {
    background-color: #cfcfd6;
}
.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
    background-color: #cfcfd6;
}
.table-success,
.table-success > td,
.table-success > th {
    background-color: #bff0de;
}
.table-success tbody + tbody,
.table-success td,
.table-success th,
.table-success thead th {
    border-color: #89e2c2;
}
.table-hover .table-success:hover {
    background-color: #aaebd3;
}
.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
    background-color: #aaebd3;
}
.table-info,
.table-info > td,
.table-info > th {
    background-color: #c7ebf1;
}
.table-info tbody + tbody,
.table-info td,
.table-info th,
.table-info thead th {
    border-color: #96dbe4;
}
.table-hover .table-info:hover {
    background-color: #b3e4ec;
}
.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
    background-color: #b3e4ec;
}
.table-warning,
.table-warning > td,
.table-warning > th {
    background-color: #fceec9;
}
.table-warning tbody + tbody,
.table-warning td,
.table-warning th,
.table-warning thead th {
    border-color: #fadf9b;
}
.table-hover .table-warning:hover {
    background-color: #fbe6b1;
}
.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
    background-color: #fbe6b1;
}
.table-danger,
.table-danger > td,
.table-danger > th {
    background-color: #f8ccc8;
}
.table-danger tbody + tbody,
.table-danger td,
.table-danger th,
.table-danger thead th {
    border-color: #f3a199;
}
.table-hover .table-danger:hover {
    background-color: #f5b7b1;
}
.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
    background-color: #f5b7b1;
}
.table-light,
.table-light > td,
.table-light > th {
    background-color: #fdfdfe;
}
.table-light tbody + tbody,
.table-light td,
.table-light th,
.table-light thead th {
    border-color: #fbfcfd;
}
.table-hover .table-light:hover {
    background-color: #ececf6;
}
.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
    background-color: #ececf6;
}
.table-dark,
.table-dark > td,
.table-dark > th {
    background-color: #d1d1d5;
}
.table-dark tbody + tbody,
.table-dark td,
.table-dark th,
.table-dark thead th {
    border-color: #a9aab1;
}
.table-hover .table-dark:hover {
    background-color: #c4c4c9;
}
.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
    background-color: #c4c4c9;
}
.table-active,
.table-active > td,
.table-active > th {
    background-color: rgba(0, 0, 0, 0.075);
}
.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
}
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, 0.075);
}
.table .thead-dark th {
    color: #fff;
    background-color: #5a5c69;
    border-color: #6c6e7e;
}
.table .thead-light th {
    color: #6e707e;
    background-color: #eaecf4;
    border-color: #e3e6f0;
}
.table-dark {
    color: #fff;
    background-color: #5a5c69;
}
.table-dark td,
.table-dark th,
.table-dark thead th {
    border-color: #6c6e7e;
}
.table-dark.table-bordered {
    border: 0;
}
.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}
.table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075);
}
@media (max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-sm > .table-bordered {
        border: 0;
    }
}
@media (max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-md > .table-bordered {
        border: 0;
    }
}
@media (max-width: 991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-lg > .table-bordered {
        border: 0;
    }
}
@media (max-width: 1199.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-xl > .table-bordered {
        border: 0;
    }
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table-responsive > .table-bordered {
    border: 0;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #e74a3b;
    border-color: #e74a3b;
}

.box-pagination {
    position: relative;
    top: -33px;
    right: 0;
    text-align: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}