#wrapwrap header a.navbar-brand img {
    margin-top: 0;
}

#wrapwrap .navbar {
    margin-bottom: 0;
}

#wrapwrap .navbar-brand {
    padding: 6px 0;
}

.banner-minsa {
    background-image: url(../img/banner-minsa-vigilancia.png);
    background-size: cover;
    background-color: white;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100px;
}

@media (min-width: 576px) { 
    .banner-minsa {
        height: 200px;
    }
 }

 @media (min-width: 960px) { 
    .banner-minsa {
        height: 300px;
    }
  }

.bg-danger {
    background-color: #e74a3b!important;
}
.logo-minsa {
    width: 150px;
    border: 3px solid white;
    margin: 0 16px 0 0;
}

body .homepage {
    background-color: #eeeeee;
}

.section-contenido {
    margin: 30px 0;
}

.section-contenido .container {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-busqueda-contenido {
    margin: 30px 0;
}

.section-busqueda-contenido .container {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.box-sector {
    border: 1px solid lightgray;
    margin: 0 0 20px 0;
    overflow: hidden;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.box-sector img {
    margin: 0 auto;
    display: block;
    padding: 10px;
}

.box-sector h2 {
    font-size: 18px;
    background-color: #e74a3b;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 12px;
    margin: 0;
    margin-top: 7px;
}

.box-sector p {
    background-color: #EFB64F;
    padding: 15px 35px;
    margin: 0;
    text-align: center;
}
.box-btn {
    text-align: center;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

footer #footer {
    padding-top: 0;
}



@media (max-width: 960px) { 
    .section-contenido .row > div {
        margin: 0 0 25px 0;
    }
}


@media (min-width: 960px) { 
    .box-texto {
        display: flex;
        height: 90px;
    }
}


/* Pagina Login */

.oe_website_login_container input,
.oe_website_login_container select {
    border: 2px solid #e74a3b;
    border-radius: 10px;
}


.oe_website_login_container .input-group-addon {
    background-color: #e74a3b;
    border: none;
}

.oe_website_login_container .input-group-addon:first-child {
    border-right: 0;
    border-bottom-left-radius: 10px!important;
    border-top-left-radius: 10px!important;
}

.oe_login_buttons {
    margin: 35px 0 0 0px;
}

.icono-usuario {
    background-image: url(../img/icono-persona.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #e74a3b;
    background-size: contain;
}
.icono-candado {
    background-image: url(../img/icono-candado.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #e74a3b;
    background-size: contain; 
    background-position: top center;
}

.icono-tuerca {
    background-image: url(../img/icono-tuerca.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #e74a3b;
    background-size: contain; 
}


.icono-ruc {
    background-image: url(../img/icono-ruc.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #e74a3b;
    background-size: contain; 
}


.icono-llave {
    background-image: url(../img/icono-llave.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #e74a3b;
    background-size: contain; 
}

.icono-lupa {
    background-image: url(../img/icono-lupa.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #e74a3b;
    background-size: contain;
}

.oe_login_form, .oe_signup_form, .oe_reset_password_form {
    max-width: 350px;
}


.box-top {
    text-align: center;
}
.contenido-busqueda {
    max-width: 700px;
    position: relative;
    margin: 50px auto;
}

.tabla-titulo {
    background-color: #e74a3b;
    color:white;
    padding: 4px 0;
}

.box-resultado {
    max-width: 990px;
    position: relative;
    margin: 50px auto;
}

.title-busqueda {
    color: #e74a3b;
    font-size: 18px;
    font-weight: bold;
    font-size: 25px;
}

.box-busqueda .input-group-addon {
    background-color: #e74a3b;
    border:none;
    padding: 0;
}


.box-select {
    position: absolute;
    left: 4px;
    top: 2px;
    z-index: 10;
}

.box-busqueda .box-select select {
    background-color: white;
    color: #e74a3b;
    height: 30px;
    border: none;
    border-top-left-radius: 10px!important;
    border-bottom-left-radius: 10px!important;
    text-transform: uppercase;
    border-right: 2px solid #e74a3b; 
}

.box-busqueda .input-busqueda {
    border: 2px solid #e74a3b;
    border-top-left-radius: 10px!important;
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
    border-top-right-radius: 10px!important;
    overflow: hidden;
    padding: 0 0 0 270px;
}

/* Modal Esenciales*/

.modal-title {
    background-color: #EBB54B;
    color: white;
    padding: 6px;
}

.title-actividades {
    color: #e74a3b;
    margin: 0 0 20px 0;
}

.box-actividades {
    text-align: center;
    border: 3px solid #e74a3b;
    border-radius: 35px;
    max-width: 201px;
    margin: 0 auto 20px;
    overflow: hidden;
    display: block;
    position: relative;
}


.box-actividades .box-img {
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-actividades .texto-actividades {
    padding: 0;
    margin: 0;
    background-color: #e74a3b;
    display: flex;
    height: 46px;
    align-items: center;
    justify-content: center;
}

.box-actividades .texto-actividades h4 {
    margin: 0;
    padding: 0 8px;
    font-size: 15px;
    color: white;
}

.mostrar-texto {
    display: none;
}


.box-actividades:hover {
    text-decoration: none;
}

.box-actividades:hover a{
    text-decoration: none;
}

.box-actividades:hover h4{
    text-decoration: none;
}


.box-actividades:hover .mostrar-texto {
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    color: black;
    font-size: 13px;
    height: 100%;
    width: 100%;
    background-image: url(../img/bg.png);
    background-position: top center;
    background-repeat: repeat;
    border-radius: 30px;
    overflow: overlay;
    text-align: center;
    padding: 13px 0;
}

.mostrar-texto p {
    padding: 12px;
    font-weight: bold;
}

.modal-esenciales .btn-primary {
    background-color: #EFB550;
    border: 1px solid #EFB550;
}

.modal-esenciales .btn-secondary {
    background-color: white;
    border: 1px solid #EFB550;
    color: #e74a3b;
}

.modal-esenciales .btn-primary:active {
    background-color: #EFB550;
}
.active-actividad {
    border: 3px solid black;
    box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.3);
}

.navbar-default{ 
    background-color: #ff3535; 
    border-color: #e7e7e7;
}
.navbar-nav li a, .navbar-nav li a b {
    color: white;
}

.box-buscar {
    position: absolute;
    right: 0;
    z-index: 10;
}

.contenido-busqueda .box-buscar .btn-buscar {
    background-color: #e74a3b;
    border: 1px solid #e74a3b;
    border-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-bucscar {
    background-color: #e74a3b;
    color: white;
    border: 1px solid #e74a3b;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.group-select {
    display: flex;
}

div#resultados .col-12 {
    padding: 0;
    border-radius: 0;
}

div#resultados .col-12 a {
    border-radius: 0;
}

div#resultados .col-12 a:hover {
    background-color: white;
}


div#resultados [class*="col-"] {
    padding: 0;
    border-radius: 0;
}

div#resultados [class*="col-"] a {
    border-radius: 0;
}

div#resultados [class*="col-"] a:hover {
    background-color: white;
}


@media (max-width: 960px) { 
    div#resultados [class*="col-"] {
        width: 25%;
        float: left;
    }
    .tabla-titulo [class*="col-"] {
        width: 25%;
        float: left;
    }
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.contenido-ruc input {
    border: 2px solid #e74a3b;
    border-radius: 10px;
}

.box-busqueda .form-control:focus {
    border-color: #e74a3b;
}