/* CSS Formulario Theme Local */

// $rojo-minsa: #e74a3b;
$rojo-minsa: #E1001A;
$gray-minsa: #313237;

body {
  color: $gray-minsa;
}

.sidebar .sidebar-brand {
  border-right: 1px solid white;
}

.sidebar-logo {
  width: 180px;
  border: 2px solid white;
  display: none;
  @media (min-width: 768px) { 
    display: block;
  }
  .toggled & {
    display: none;
  }
}

.sidebar-logo-reduce {
  display: block;
  width: 50px;
  border: 2px solid white;
  @media (min-width: 768px) { 
    display: none;
  }
  .toggled & {
    display: block;
  }
}

.title-covid19 {
  display: none;
  @media (min-width: 768px) { 
    display: block;
    color:white;
  }
}

.navbar .fa-bars {
  color: #5a5c69;
}

.nav-default {
  background: #bf0909;
}
.logo-minsa {
  width: 150px;
  border:3px solid white;
  margin: 0 16px 0 0;
}
.covid-19 {
  color: white;
  font-size: 16px;
  border-left: 1px solid white;
  padding: 0 10px;
}

.section-form {
  margin: 0 auto;
  padding: 30px 0;
}

.box-button {
  @media (min-width: 992px) { 
    margin-top: 36px; 
    }
  button {
      margin: 0 6px 0 0;
  }
}

.box-row {
  margin-bottom: 20px;
  label {
      span {
        color: #e74a3b;
      }
  }
}

.center-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  @media (min-width: 992px) { 
    width: 500px;
  }
}

.map {
    width: 100%;
    height: 400px;
    border:1px solid lightgray;
}

#map {
    width: 100%;
    height: 400px;
    background-color: lightgray;
  }

#mapid { 
    max-width: 600px;
    height: 400px;
    border: 1px solid lightgray;
    width: 100%;
    background-color: lightgray;
 }

.form-row .custom-file .custom-file-label:after {
  content: "Cargar";
}

.carga-img {
    border: 1px solid lightgray;
    width: 160px;
    height: 160px;
}

.carga-imagen {
    max-width:200px;
}


.btn i {
  position: relative;
  margin: 0 3px 0 0;
}

td.btn-doble {
  display: flex;
  width: 163px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  align-items: center;
  align-content: center;
}

.section-form fieldset {
  margin: 0 0 10px 0;
}


.box-space {
  @media (min-width: 992px) { 
    margin-top: 3px;
   }
}



 /* Login */
 .page-login {
  background-color: #4e73df;
  background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
  background-size: cover;
}
.container-login form.user .form-control-user {
  border-radius: 0;
}

.container-login form.user .btn-user {
  border-radius: 0;
}

.container-login .logo-login-minsa {
  width: 75%;
  max-width: 320px;
  padding: 10px;;
}
/**/