.bodyLogin {
  background-color : #367FA9;
}

.contentLogin {
  background-color : #FFF;
  box-sizing       : border-box;
  left             : 50%;
  opacity          : 0.95;
  padding          : 5%;
  position         : absolute;
  top              : 50%;
  transform        : translate(-50%, -50%);
  width            : 50%;
}

#botonLogin {
  background-color : #172D44 !important;
  color            : #FFF;
}

#botonEnviarLogin {
  background-color : #172D44;
  border           : none;
  border-radius    : 5px;
  color            : #FFF;
  display          : inline-block;
  padding          : 2%;
  width            : 100%;
}

.contentLogoLogin {
  border-right  : 1px solid #C5C5C5;
  box-sizing    : border-box;
  height        : 177px;
  margin-bottom : 5%;
  padding       : 55px 25px 0 0;
}

.logoMinsa {
  margin-bottom : 5%;
  width         : 100%;
}

.forgetPassword, #remenberCheckbox {
  font-size : 13px;
}

.forgetPassword {
  text-align : right;
}

a.a-white {
  color: white;
}

@media only screen and (max-width : 991px) {
  .contentLogoLogin {
    border-right  : none;
    height        : 50px;
    margin-bottom : 15%;
    padding       : 10px 10px 0 10px;
  }

  .forgetPassword, #remenberCheckbox {
    font-size  : 12px;
    text-align : center;
  }
}

@media (max-width : 550px) {
  .contentLogin {
    width : 79%;
  }
}
