//Variables
$color-red : #ff3535;

//Custom Boostrap Theme
.navbar-default {
  background-color: $color-red;
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    opacity: 0.8;
  }
  .navbar-nav > li > .active:hover {
    opacity: 1;
  }
}

.navbar-nav {
  li {
    a {
      color:white;
    }
  }
}

.navbar ul.nav > li.divider {
  margin-top: 9px;
  height: 20px;
}

.navbar .navbar-nav .nav-link {
  padding: 8px 14px;
}

.nav-link.active {
  font-weight: bold;
}

.navbar-toggler {
  background-color: #dddddd;
}

.navbar-default .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

// Page Home

body .homepage,
body .page-login {
  background-color: #CDE6F9;
}

.nav-link-usuario {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  i {
    margin-right: 10px;
  }
}

.icono-user {
  background-image: url(../img/icono-user.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  display: block;
  background-color:$color-red;
  background-size: contain;
}

.banner-donaciones {
  background-image: url(../img/banner-movil.png);
  background-size: 100%;
  background-color: #cde6f9;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 270px;
  margin-top:20px;

  @media (min-width: 576px) {
    background-image: url(../img/banner-donaciones.png);
    height: 560px;
    background-position: top center;
    background-size: 100%;
    margin-top: 0;
  }

  h2 {
    font-weight: bold;
    text-align: center;
    padding: 5px;
    background-color: white;
    font-size: 25px;
    display:block;
    @media (min-width: 576px) {
      display:none;
    }
  }

}


.bg-gray {
  background-color: #333333!important;
}

.footer {
  height: 150px;
  h1, h2, h3, h4, h5, h6, a, i, span, p {
      color:white;
  }
}


/* Page Login */

body .page-login {
  background-color: #CDE6F9;
}

.formulario-donaciones {
  padding: 0 20px;
}

.form-login {
  width: 100%;
  max-width: 398px;
  margin: 0 auto;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 80px;
  box-shadow: 6px 6px 4px 0px rgba(165, 165, 165, 0.55);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.1);
  @media (min-width: 576px) {
    margin-top: 115px;
  }

  .input-group-addon {
      background-color: white;
      border: navajowhite;
      border-radius: 10px 0 0 10px;
      height: 44px;
  }
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
      box-shadow: none;
  }
}

.box-top-login {
  background-image: url(../img/fondo-top.png);
  background-repeat: no-repeat;
  background-color: lightgray;
  background-position: top center;
  background-size: cover;
  padding: 15px 30px;
  border-radius: 25px 25px 0 0;
  img {
      width: 138px;
      margin-bottom: 30px;
  }
  .form-group {
      margin-bottom: 20px;
      position: relative;
      i {
        position: absolute;
        top: 12px;
        left: 13px;
      }
  }

  .form-control {
      height: 44px;
      border-radius: 10px;
      border:none;
      text-align: center;
  }

}

.box-sub-login {
  background-image: url(../img/fondo-sub.png);
  background-repeat: no-repeat;
  background-color: lightgray;
  background-position: top center;
  margin-top: 11px;
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 25px 25px;
}

.icono-login-user {
  background-image: url(../img/icono-usuario-rojo.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  display: block;
  background-size: contain;
}

.icono-login-cantado {
  background-image: url(../img/icono-candado.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  display: block;
  background-size: contain;
}


.btn-continuar {
  color: #fff;
  background-color: $color-red;
  border-color:$color-red;
  &:hover {
    background-color: gray;
    border-color: gray;
  }
  &:focus {
    background-color: gray;
    border-color: gray;
  }
  &:active {
    background-color: gray;
    border-color: gray;
  }
}
